services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: deribit_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine


  app:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/deribit_db
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  worker:
    build: .
    command: celery -A app.tasks:celery_app worker --loglevel=info --pool=solo
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/deribit_db
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  beat:
    build: .
    command: celery -A app.tasks:celery_app beat --loglevel=info
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/deribit_db
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  postgres_: